USE [master]
GO
/****** Object:  Database [RV]    Script Date: 3/4/2018 1:00:56 PM ******/
CREATE DATABASE [RV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RV', FILENAME = N'C:\SQL\RV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RV_log', FILENAME = N'C:\SQL\RV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RV]
GO
USE [RV]
GO
/****** Object:  User [rv]    Script Date: 3/4/2018 1:00:56 PM ******/
CREATE USER [rv] FOR LOGIN [rv] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [rv]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [rv]
GO
/****** Object:  Table [dbo].[configuration]    Script Date: 3/4/2018 1:00:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serverPath] [nvarchar](max) NOT NULL,
	[updatePath] [nvarchar](max) NOT NULL,
	[mapPath] [nvarchar](max) NOT NULL,
	[mailSMTPserver] [nvarchar](max) NOT NULL,
	[mailUsername] [nvarchar](max) NOT NULL,
	[mailPassword] [nvarchar](max) NOT NULL,
	[mailSMTPport] [nvarchar](max) NOT NULL,
	[mailSendFrom] [nvarchar](max) NOT NULL,
	[mailSSL] [bit] NOT NULL,
	[mailAuth] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[congregations]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[congregations](
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donate]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donate](
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donate_expenses]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donate_expenses](
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gps]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gps](
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ip]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ip](
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[record_notes]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[record_notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[memo] [nvarchar](max) NULL,
	[record_type] [nchar](10) NULL,
	[modified_by] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[record_type]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[record_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[acronym] [nvarchar](3) NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[records]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[streetaddress] [nvarchar](max) NULL,
	[streetname] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[state] [nvarchar](max) NULL,
	[zip] [nvarchar](max) NULL,
	[gps] [nvarchar](max) NULL,
	[modified_by] [int] NULL,
	[territory] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[territories]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[territories](
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[displayname] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[verified] [bit] NULL,
	[disabled] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_type]    Script Date: 3/4/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_type](
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
